<%- include('header'); -%>


    <div class="box" id="heading">
        <h1>
            Login/ Signup
        </h1>
    </div>

    <div class="box">

        <form action="">

        </form>

    </div>


    <%- include('footer'); -%>