@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --purple: #A683E3;
  --cyan: #16BA95;
}

html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, var(--purple) 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'poppins';
} 
  h1 {
    color: #fff;
    font-size:14px;
    padding: 10px;
    font-weight:400;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width:400px) {
    .box{
      max-width: 355px;
    }
    
  }

  #heading {
    background-color: var(--purple);
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: var(--purple);
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form.item {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: var(--purple);
    color: #fff;
    font-size: 30px;

    border-width: 0;
    cursor:pointer;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 var(--purple);
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
    font-family:poppins;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  
/* header styling */

  #menu{
    padding-left:13px;
  }

  @media screen and (max-width:1280px) {
    .header-nav{
      margin-bottom:140px;
    }
  }

  .checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 8px;
    padding-right:6px;
    background-image: url("/assets/trash-bin.png");
    background-size: 22px ;
    border: 2px solid #fff;
    cursor:pointer;
}